<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Baloo+Bhaina+2:wght@500;600&family=Nunito:wght@500&family=Poppins:wght@300&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* font-family: 'Poppins', sans-serif; */
            font-family: 'Baloo Bhaijaan 2','Nunito', sans-serif ;
        }

        :root {

            --box-shadow: 0 .5rem 1.5rem rgb(0, 0, 0, 0.5);
            --bluish: #3b9e9f;
            --orange: #e98804;
            --light-color: #dfdad4;
            --bg: #fcf0c3;
            --dark-bg: rgba(0, 0, 0, .7);
            --light-white: #ccc;
        }


        body {
            height: 100vh;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            /* padding: 10px; */
            /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
            background-color: #e98804;
        }

        .container {
            max-width: 700px;
            width: 100%;
            background-color: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 0 2rem 0.6rem rgba(0, 0, 0, .7);
            margin: 0 auto;
            margin-top: 9rem;
        }

        .container .title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

        .container .title::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, var(--orange),var(--bluish));
        }

        .content form .user-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }

        form .user-details .input-box {
            margin-bottom: 15px;
            width: calc(100% / 2 - 20px);
        }

        form .input-box span.details {
            display: block;
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 5px;
        }

        .user-details .input-box input {
            height: 45px;
            width: 100%;
            outline: none;
            font-size: 16px;
            /* border-radius: 5px; */
            /* padding-left: 15px; */
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
            border: none;
            border-bottom: 2px solid #3b9e9f;
        }
        form .gender{
            font-size: 1.5rem;
        }
        form .gender-details .gender-title {
            font-size: 20px;
            font-weight: 500;
        }

        form .category {
            display: flex;
            width: 80%;
            margin: 14px 0;
            justify-content: space-between;
        }

        form .category label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        form .category label .dot {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background: #d9d9d9;
            border: 5px solid transparent;
            transition: all 0.3s ease;
        }

        #dot-1:checked~.category label .one,
        #dot-2:checked~.category label .two,
        #dot-3:checked~.category label .three {
            background: #3b9e9f;
            border-color: #d9d9d9;
        }

        form input[type="radio"] {
            display: none;
        }

        form .button {
            height: 45px;
            margin: 35px 0
        }

        form .button input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
            background: linear-gradient(135deg, var(--orange),var(--bluish));
            
        }

        form .button input:hover {
            /* transform: scale(0.99); */
            /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
            background: linear-gradient(135deg,var(--bluish),var(--orange));
        }

        @media(max-width: 584px) {
            .container {
                max-width: 100%;
            }

            form .user-details .input-box {
                margin-bottom: 15px;
                width: 100%;
            }

            form .category {
                width: 100%;
            }

            .content form .user-details {
                max-height: 300px;
                overflow-y: scroll;
            }

        
        }

        @media(max-width: 459px) {
            .container .content .category {
                flex-direction: column;
            }
        }
        .error{
            color: red;
            font-size: 1.5rem;
            font-weight: bold;

        }
    </style>
</head>
<div class="container">
    <% if(messages.error) {%>
        <span class="error"><%= messages.error%></span>
    <% } %>
  
    <div class="title">Registration</div>
    <div class="content">
        <form action="/register" method="post" >
            <!-- <span>Something went wrong!</span> -->
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" name="Fname" value="<%= messages.Fname%>">
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username" name="Uname" value="<%= messages.Uname%>">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your email" name="email" value="<%= messages.email%>">
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="number" placeholder="Enter your number" name="Pnum" value="<%= messages.Pnum%>">
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" name="pass">
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm your password" name="cpass" >
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" >
            </div>
        </form>
    </div>
</div>