<head>
    <link rel="stylesheet" href="/css/grid.css">
</head>
<section class="home" id="home">

        <div class="swiper home-slider">
            <div class="swiper-wrapper">
                <!-- <div class=" swiper-slide slide" style="background: url('https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg?size=626&ext=jpg&ga=GA1.2.515947027.1638811522') no-repeat;"> -->
                <div class=" swiper-slide slide" style="background: url('https://img.freepik.com/free-photo/cozy-restaurant-with-people-waiter_175935-230.jpg?size=626&ext=jpg&ga=GA1.2.515947027.1638811522') no-repeat;">
                    <div class="content">
                        <span id="name">CraveIt</span>
                        <span>Discover the best food and drinks in your area</span>
                        <!-- <h3>Delicious cooking</h3> -->
                        <span style="position: relative;"><input type="text" placeholder="Search food by catagory or name "><i class="fas fa-search" id="search-icon"></i></span>
                        <a href="#" class="btn">Get started</a>
                    </div>
                </div>
                <div class=" swiper-slide slide" style="background: url('/img/home-slide-1.jpg') no-repeat;">
                    <div class="content">
                        <span>outstanding Food</span>
                        <h3>Delicious cooking</h3>
                        <a href="#" class="btn">Get started</a>
                    </div>
                </div>
                <div class=" swiper-slide slide" style="background: url('/img/home-slide-2.jpg') no-repeat;">
                    <div class="content">
                        <span>outstanding Food</span>
                        <h3>Morning moment</h3>
                        <a href="#" class="btn">Get started</a>
                    </div>
                </div>
                <div class=" swiper-slide slide" style="background: url('/img/home-slide-3.jpg') no-repeat;">
                    <div class="content">
                        <span>outstanding Food</span>
                        <h3>authentic kitchen</h3>
                        <a href="#" class="btn">Get started</a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next" style="color: #fff;"></div>
            <div class="swiper-button-prev" style="color: #fff"></div>
        </div>

    </section>
  <!-- section features -->
  <section class="features" id="features"  >
    <h1 class="heading">
        our <span>features</span>
    </h1>
    <div class="box-container">

        <div class="box">
            <img src="/img/features/100-organic-quality-food-green-sticker-label-design_1017-25574.webp" alt="">
            <h3>fresh and organic</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqueLorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque??</p><br>
            <a href="#" class="btn">Read More</a>


        </div>


        <div class="box">
            <img src="/img/features/delivery-service-illustrated_23-2148505081.webp" alt="">
            <h3>fast delivery</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?</p><br>
            <a href="#" class="btn">Read More</a>
        </div>




        <div class="box">
            <img src="/img/features/e-wallet-concept-illustration_114360-7561.webp" alt="">
            <h3>easy payment</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?</p>
            <br>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

</section>
  <!-- ///////////////////////////// grid container  -->
    <section>
    <!-- home section end  -->
    <!-- what to eat section start  -->
    <h1 class="heading">
        <span>Eat what makses you happy</span>
    </h1>
    <div class="grid-container">
        <div class="grid-item">
            <img src="/img/gridimg/pizza-modified.png" alt="" />
            <h4>Pizza</h4>
        </div>
        <div class="grid-item">
            <img src="/img/gridimg/burger1-modified.png" alt="" />
            <h4>Burger</h4>
        </div>
        <div class="grid-item">
            <img src="/img/gridimg/chaat1-modified.png" alt="" />
            <h4>Chaat</h4>
        </div>
        <div class="grid-item">
            <img src="/img/gridimg/sandwich-modified.png" alt="" />
            <h4>Sandwich</h4>
        </div>
        <div class="grid-item">
            <img src="/img/gridimg/momos-modified.png" alt="" />
            <h4>Momos</h4>
        </div>
        <div class="grid-item">
            <img src="/img//gridimg/noodles-modified.png" alt="" />
            <h4>Noodles</h4>
        </div>
        <div class="grid-item">
            <img src="/img/gridimg/Flavorful-Ice-Creams.png"
                alt="" />
            <h4>Ice Cream</h4>
        </div>
        <div class="grid-item">
            <img src="/img/gridimg/home_vegetables_pic1.png"
                alt="" />
            <h4>Sea food</h4>
        </div>
    </div>
    <div id="dots"></div>
    <div id="more">
        <div class="grid-container">
            <div class="grid-item">
                <img src="/img/gridimg/pizaa.png"
                    alt="" />
                <h4>Pasta</h4>
            </div>
            <div class="grid-item">
                <img src="/img/gridimg/pesto.png"
                    alt="" />
                <h4>Pesto</h4>
            </div>
            <div class="grid-item">
                <img src="/img/gridimg/puran_poli.png"
                    alt="" />
                <h4>Puran Poli</h4>
            </div>
            <div class="grid-item">
                <img src="/img/gridimg/risotto.png"
                    alt="" />
                <h4>Risotto</h4>
            </div>
        </div>
    </div>

    <div>
        <button onclick="myFunction()" id="myBtn">show more</button>

    </div>
    </section>

    <!-- section products  -->
    <section class="features-product" id="features" style="background: linear-gradient(45deg,#e98804,#fff);" >
        <h1 class="heading">
            our <span>Populers</span>
        </h1>

        <div class="box-container">

            <% items.forEach(function(item){ %>
            <div class="box">
                <div class="box1"><img src="/img/mainProducts/<%= item.image %>" alt="">
                </div>
                <br>
                <h3><%= item.name %></h3>
                <p><%= item.desc %><br><br>
                    <strong>₹ <%= item.price  %></strong>
                </p><br>
                <button href="#" class="btn add-to-cart" data-item="<%=  JSON.stringify(item) %>" >Add to cart</button>


            </div>
            <% })%>

<!-- 
            <div class="box">
                <div class="box1">
                    <img src="/img/mainProducts/punjabi-thali.jpg" alt="">
                </div>
                <br>
                <h3>punjabhi thali</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumque?<br>
                    <strong>100$</strong>
                </p><br>
                <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="box">
                <div class="box1">
                    <img src="/img/mainProducts/south-indian thali.jpg" alt="">
                </div><br>
                <h3>South-indian-thali</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqu <br>
                    <strong>100$</strong>
                </p>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="box">
                <div class="box1">
                    <img src="/img/mainProducts/maxresdefault.jpg" alt="">
                </div><br>
                <h3>Kolhapuri_Misal_Pav</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqu <br>
                    <strong>100$</strong>
                </p>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="box">
                <div class="box1">
                    <img src="/img/mainProducts/dal-makhani-makhni-popular-dish-260nw.png" alt="">
                </div><br>
                <h3>Dal-Makhani</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqu <br>
                    <strong>100$</strong>
                </p>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="box">
                <div class="box1">
                    <img src="/img/mainProducts/idsidisdisdd.jpg" alt="">
                </div><br>
                <h3>Idli-sambar</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqu <br>
                    <strong>100$</strong>
                </p>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <div class="box1">
                    <img src="/img/mainProducts/idsidisdisdd.jpg" alt="">
                </div><br>
                <h3>Idli-sambar</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqu <br>
                    <strong>100$</strong>
                </p>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <div class="box1">
                    <img src="/img/mainProuctsidsidisdisdd.jpg" alt="">
                </div><br>
                <h3>Idli-sambar</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, cumqu <br>
                    <strong>100$</strong>
                </p>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div> -->
        </div>

    </section>

<!-- newslatter  -->
<section id="cont1">
    <section id="newsletter" data-aos="fade-up">
        <div class="container">
          <div class="newsletter__wrapper">
            <div class="newsletter__info">
              <h3 class="newsletter__title">Join Newsletter</h3>
              <p class="newsletter__text">
                Get notified with the latest news and recent offers from the “Shaif’s Cuisine”
              </p>
            </div>
            <div class="newsletter__form">
              <form action="">
                <label for="email">
                  <input type="email" placeholder="Your Email Address">
                </label>
                <button type="submit">Join</button>
              </form>
            </div>
          </div>
        </div>
      </section>
</section>

    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>

   

</body>

</html>